body {
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    Arial,
    sans-serif;
}

body,
#app {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

#app,
#app header,
footer {
  display: flex;
}

#app {
  flex-flow: column nowrap;
  place-items: center center;
  max-width: 100vw;
}

#app header {
  position: relative;
  justify-content: space-between;
  background: linear-gradient(to bottom, #ffffff, #d9d6d6);
  width: 100%;
}

#app header,
#app .panel {
  box-shadow: 0 5px 5px rgba(0 0 0 / 15%);
}

#app .panel,
footer {
  flex-flow: row nowrap;
  height: 40px;
  width: 90%;
  padding: 0 5%;
}

#app .panel {
  display: flex;
  flex-flow: column wrap;
  padding-top: 2em;
  padding-bottom: 2em;
  max-height: 25vh;
  transform: translateY(-25vh);
  overflow-y: hidden;
  height: 0;
  background: #eeeeee;
  transition: transform 0.5 ease-in-out;
}

#app .panel.open {
  height: auto;
  transform: translateY(0);
}

#app .panel input,
footer p {
  text-align: center;
}

#app header textarea,
#app header button {
  display: block;
  padding: 2px 4px;
  border: none;
}

#app header textarea {
  width: 80%;
  padding-left: 2em;
  line-height: 20px;
}

#app header button {
  width: 20%;
  padding-right: 2em;
  background: #fefefe;
}

#app header button:hover {
  background: royalblue;
}
#app header button:focus {
  background: steelblue;
}

#app svg {
  display: block;
  position: relative;
  max-width: 100%;
  height: auto;
}

#app svg g rect {
  stroke: #ccc;
  stroke-width: 0.5px;
}

#app svg g text {
  fill: #000;
  stroke: rgba(0, 0, 0, 0);
  stroke-width: 0;
}

@media screen and (min-width: 900px) {
  #app header textarea {
    display: block;
    font-size: 1.4em;
    padding: 0.4em;
  }
}

footer {
  justify-content: center;
}

footer > p {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

footer > p > * {
  margin: 0 0.4em;
}
