body {
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', Arial, sans-serif;
}

body,
#app {
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(to bottom, #ffffff, #d9d6d6);
	min-height: 100vh;
}

#app,
#app form,
footer {
	display: flex;
  place-items: center center;
}

#app {
  flex-flow: column wrap;
}

#app form,
footer {
	flex-flow: row nowrap;
  height: 40px;
  width: 90%;
	padding: 0 5%;
}

#app form {
  max-height: 40px;
	justify-content: space-between;
	box-shadow: 0 5px 5px rgba(0 0 0 / 15%);
  margin-bottom: 10px;
}

#app form h1 {
	margin: 0.4em 0;
}

#app form input,
footer p {
	text-align: center;
}

#app form textarea {
	display: block;
  padding: 2px 4px;
  width: 100%;
  max-height: 30px;
  line-height: 30px;
  border: none;
}

#app svg g rect {
  stroke: #ccc;
  stroke-width: 0.5px;
}


#app svg g text {
  fill: #000;
  stroke: rgba(0, 0, 0, 0);
  stroke-width: 0;
}



@media screen and (min-width: 900px) {
	#app form input {
		display: block;
		font-size: 1.4em;
		padding: 0.4em;
	}
}

footer {
	justify-content: center;
}

footer > p {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

footer > p > * {
	margin: 0 0.4em;
}
